@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");

h1 {
  font-family: "Lato", sans-serif !important;
  font-weight: 900 !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
}

p {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
}

a {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
}
